<!-- <div class="container">
  <div *ngFor="let product of products" class="card">
    <div class="card" style="width: 18rem">
      <img [src]="product.thumbnail" class="card-img-top" alt="product" />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text fw-bold">{{ product.price }}</p>
        <a class="btn btn-primary">Save to Cart</a>
        <a class="btn btn-danger">Save Fav</a>
      </div>
    </div>
  </div>
</div> -->
